.text-1 {
    color: aqua;
    background-color: blueviolet;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Courier New';
    padding: 20px;
    margin: 50px;
    border-style: dotted;
    border-color: cadetblue;
    border-radius: 2px;
    border-width: 1px;
    width:fit-content;

 
}

.text-2 {
    color: brown;
    background-color: rgb(33, 159, 68);
    width: fit-content;
    text-align: center;
    padding-right: 10px;

}
.container{
    display: flex;
    justify-content:space-evenly;

}
.box-1{
    flex: 1;
    border-style: solid;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

}
.box-2{
    flex: 1;
    display: flex;
    justify-content: center;
}
.box-3{
    flex: 1;
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
}